{{extend 'layout.html'}}
<table>
    <tr>
    {{for title,val in usages[0].items():}} 
        {{if title not in ['id','update_record','delete_record']:}}
            <th>{{=title}}</th>
        {{pass}}
    {{pass}}
    </tr>
    {{for usage in usages:}} 
    <tr>
        {{for key, val in usage.items():}}
            {{if key == 'object':}}
                <td>
                    {{=BEAUTIFY(val)}}
                </td>
            {{elif key not in ['id','update_record','delete_record']:}}
                <td><a href="{{=usage.id}}/{{=key}}">{{=val}}</a></td>
            {{pass}}
        {{pass}}
    </tr>
    {{pass}}
</table>

